.chat-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;

  border-radius: 50%;

  background-color: var(--pure-white);

  width: 70px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-button lord-icon {
  width: 45px;
  height: 45px;
}

@media screen and (max-width: 750px) {
  .chat-button {
    width: 60px;
    height: 60px;
  }

  .chat-button lord-icon {
    width: 35px;
    height: 35px;
  }
}
