.input-box {
  display: flex;
  flex-direction: column;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  margin-bottom: 1vw;
}

.input-box label {
  margin-bottom: 0.5vw;
  color: #b5d73c;
  font-weight: 400;
  font-size: 1.3vw;
}

.input-box input {
  border: 1px solid #c5c6c9;
  border-radius: 5px;
  padding: 8px 12px;
  height: 3vw;
  max-height: 3vw;
  font-size: 1.4vw;
}

.input-box input:focus {
  outline: none;
}

.input-box .password-toggle-icon {
  position: absolute;
  transform: translate(18.5vw, 2.6vw);

  cursor: pointer;

  color: #132a13;
  font-size: 2vw;

  user-select: none;
}

.input-box input[type="submit"] {
  position: relative;
  top: 5vw;

  height: 3vw;

  border: 0 solid #c5c6c9;
  background-color: #b5d73c;
  padding: 8px 12px;

  font-size: 1.4vw;
  font-weight: 500;

  cursor: pointer;
}

.dark label {
  color: #398301 !important;
}
