.input-box {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.input-box-label-container {
  width: inherit;
  height: 30%;

  margin-bottom: 0.5%;
}

.input-box-input-container {
  width: inherit;
  height: 47%;
}

.input-box-error-container {
  width: inherit;
  height: 20%;
}

.input-box label {
  width: inherit;
  color: #b5d73c;
}

.input-box input {
  width: inherit;

  border: 1px solid #c5c6c9;
  border-radius: 5px;

  padding: 8px 12px;
}

.error-text {
  width: inherit;

  color: transparent;
  user-select: none;
}

.input-box input:focus {
  outline: #b5d73c solid 2px;
}

.dark input:focus {
  outline: #398300 solid 2px;
}

.input-box input:invalid {
  outline: #FF0000 solid 2px;
}

.input-box input[type="submit"]:enabled {
  border: 0 solid #c5c6c9;
  background-color: #b5d73c;
  padding: 8px 12px;

  font-weight: 500;

  cursor: pointer;
}

.dark input[type="submit"]:enabled {
  background-color: #398300 !important;
  color: white !important;
}

.input-box input[type="submit"]:disabled {
  background-color: #c1c2bf
}

.dark label {
  color: #398300 !important;
}

.input-box .password-toggle-icon {
  position: absolute;
  transform: translate(-42px, 7px);

  cursor: pointer;

  color: #132a13;

  user-select: none;
}

.input-box:has(input:invalid) .error-text {
  color: #FF0000;
}
