.input-box{
  width: 100%;
  height: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.input-box-label-container {
  width: inherit;
  height: 30%;

  margin-bottom: 0.5%;
}

.input-box-input-container {
  width: inherit;
  height: 47%;
}

.input-box-error-container {
  width: inherit;
  height: 20%;
}

.input-box label {
  width: inherit;
  color: var(--android-green);
}

.input-box input,
.input-box textarea {
  width: inherit;

  border: 1px solid var(--lavaneder-gray);
  border-radius: 5px;

  padding: 8px 12px;
}

.error-text {
  width: inherit;

  color: transparent;
  user-select: none;
}

.input-box input:focus,
.input-box textarea:focus {
  outline: var(--android-green) solid 2px;
}

.dark input:focus,
.dark textarea:focus {
  outline: var(--metallic-green) solid 2px;
}

.input-box input:invalid {
  outline: var(--pure-red) solid 2px;
}

.input-box input[type="submit"]:enabled {
  border: 1px solid var(--android-green);
  background-color: var(--android-green);
  padding: 8px 12px;

  font-weight: 500;

  cursor: pointer;
}

.dark input[type="submit"]:enabled {
  border: 1px solid var(--metallic-green);
  background-color: var(--metallic-green) !important;
  color: var(--pure-white) !important;
}

.input-box input[type="submit"]:disabled {
  background-color: var(--argent);
}

.dark label {
  color: var(--metallic-green) !important;
}

.input-box .password-toggle-icon {
  position: absolute;
  transform: translate(-42px, 50%);

  cursor: pointer;

  color: #132a13;

  user-select: none;
}

.input-box:has(input:invalid) .error-text {
  color: var(--pure-red);
}
