.input-box {
  width: 100%;
  height: 100%;
}

.input-box {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.input-box-label-container {
  width: inherit;
  margin-bottom: 0.5%;
}

.input-box-input-container {
  position: relative;
  width: inherit;
  height: 47%;
}

.input-box-input-container:has(input[type="file"]) {
  height: 89.5%;
}

.input-box label {
  width: inherit;
  color: var(--android-green);
}

.input-box input,
.input-box textarea,
.select-dropdown {
  border: 1px solid var(--lavaneder-gray);
  border-radius: 5px;
}
.input-box input,
.input-box textarea,
.input-box select {
  width: inherit;
  padding: 8px 12px;
}

.input-box .file-drag-and-drop-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px dashed var(--lavaneder-gray);
  border-radius: 5px;

  padding: 10px;

  text-align: center;
  color: var(--argent);
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.input-box select {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  height: 100%;
}

.input-box select:focus,
.input-box select:active {
  outline: none;
  box-shadow: none;
}

.select-dropdown {
  position: relative;
  height: calc(46.8%);
}

.input-box .select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;

  margin-top: -2px;

  border-top: 5px solid var(--android-green);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;

  width: 0;
  height: 0;
}

.input-box-error-container {
  width: inherit;
  height: 20%;
}

.error-text {
  width: inherit;

  color: transparent;
  user-select: none;
}

.input-box input:focus,
.input-box textarea:focus {
  outline: var(--android-green) solid 2px;
}

.dark input:focus,
.dark textarea:focus {
  outline: var(--metallic-green) solid 2px;
}

.input-box input:invalid {
  outline: var(--pure-red) solid 2px;
}

.input-box input[type="submit"]:enabled {
  border: 1px solid var(--android-green);
  background-color: var(--android-green);
  padding: 8px 12px;

  font-weight: 500;

  cursor: pointer;
}

.dark input[type="submit"]:enabled {
  border: 1px solid var(--metallic-green);
  background-color: var(--metallic-green) !important;
  color: var(--pure-white) !important;
}

.input-box input[type="submit"]:disabled {
  background-color: var(--argent);
}

.dark label {
  color: var(--metallic-green) !important;
}

.dark .select-dropdown:after {
  border-top: 5px solid var(--metallic-green) !important;
}

.input-box .password-toggle-icon {
  position: absolute;
  transform: translate(-42px, 50%);

  cursor: pointer;

  color: #132a13;

  user-select: none;
}

.input-box:has(input:invalid) .error-text {
  color: var(--pure-red);
}
