body {
  background-color: var(--cultured);
}

.main-page-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 110px 50px 50px 50px;
}

#info-container {
  display: flex;
  gap: 20px;

  width: 100%;
  height: fit-content;
}

#welcome-message-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;

  width: 65%;
  height: 230px;
  background-color: var(--pure-white);
}

#profile-picture-container {
  width: 150px;
  height: 150px;
}

#admin-message-container {
  width: 60%;
  height: fit-content;
}

#welcome-message-container>.profile-picture {
  width: 100px;
  height: 100px;
}

#stats-container {
  background-color: var(--pure-white);

  width: 40%;
  height: 230px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#stats-title {
  color: var(--android-green);
  height: 10%;
}

#stats {
  height: 85%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.material-icons-round{
  vertical-align: bottom;
}

.stat {
  display: flex;
  align-items: center;
  gap: 5px;
}

.stat-value {
  color: var(--sap-green);
}

#table-container {
  position: relative;

  width: 100%;
  height: fit-content;

  padding: 10px;

  background-color: var(--pure-white);
}

#main-table {
  width: 100%;
  height: 450px;

  overflow-y: scroll;
}

#main-table-navbar {
  width: 100%;
  height: 40px;
  background-color: var(--sap-green);
  margin-bottom: 2px;
}

nav {
  display: flex;

  align-items: center;
  justify-content: space-around;
}

#table-selector {
  border-radius: 10%;
  border-color: var(--android-green);
  font-size: 17px;
  user-select: none;
}

#search-container {
  user-select: none;

  .material-icons-round {
    position: absolute;
    transform: translate(-35px, 2px);
    cursor: pointer;
    color: var(--dark-jungle-green);
  }
}

#search-text:focus, #table-selector:focus{
  outline: var(--android-green) solid 1px;
}

#main-table>#table-loading-overlay {
  visibility: hidden;

  position: absolute;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100% - 20px);
  height: 450px;

  background-color: rgba(0, 0, 0, 0.3);
}

#main-table>#table-loading-overlay>img {
  width: 200px;
  height: 200px;
  animation: spin 2.2s linear infinite;
}

#main-table::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#main-table::-webkit-scrollbar-thumb {
  background: var(--sap-green);
  border-radius: 25px;
}

#main-table table,
#main-table th,
#main-table td {
  border-collapse: collapse;
}

#main-table th,
#main-table td {
  white-space: nowrap;
  min-width: 200px;
}

#main-table table {
  width: 100%;
  height: 90%;
  text-align: center;
}

#main-table tr {
  height: 40px;
}

tr:nth-child(even) {
  background-color: var(--eggshell);
}

#main-table thead {
  background-color: var(--pure-white);
}

#main-table thead th {
  background-color: var(--android-green);

  border-left: 2px solid var(--pure-white);
  border-right: 2px solid var(--pure-white);

  position: sticky;
  top: 0;
}

#main-table thead th:first-child {
  border-left: 0 !important;
}

#main-table thead th:last-child {
  border-right: 0 !important;
}

@media screen and (max-width: 700px) {
  #info-container {
    flex-direction: column;
    gap: 20px;
  }

  #welcome-message-container {
    width: 100%;
  }

  #stats-container {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
