.form-row {
  display: flex;
  justify-content: space-between;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vw;
}

.input-box label {
  margin-bottom: 0.5vw;
  color: #b5d73c;
  font-size: 1.3vw;
}

.input-box input {
  border: 1px solid #c5c6c9;
  border-radius: 5px;

  padding: 8px 12px;

  height: 3vw;
  max-height: 3vw;

  font-size: 1.4vw;
}

.input-box input:focus {
  outline: #b5d73c solid 2px;
}

.dark input:focus {
  outline: #398300 solid 2px;
}

.input-box input[type="submit"]:enabled {
  height: 3vw;

  border: 0 solid #c5c6c9;
  background-color: #b5d73c;
  padding: 8px 12px;

  font-size: 1.4vw;
  font-weight: 500;

  cursor: pointer;
}

.dark input[type="submit"]:enabled {
  background-color: #398300 !important;
  color: white !important;
}

.input-box input[type="submit"]:disabled {
  background-color: #c1c2bf
}

.dark label {
  color: #398300 !important;
}

.input-box .password-toggle-icon {
  position: absolute;
  transform: translate(18.5vw, 2.6vw);

  cursor: pointer;

  color: #132a13;
  font-size: 2vw;

  user-select: none;
}

.invalid-input {
  outline: #FF0000 solid 2px !important;
}

.error-text {
  color: transparent;
  margin-top: 0.3vw;

  font-size: 1vw;

  user-select: none;
}