body {
  background-color: #CDDD92;
}

#main-container {
  display: flex;

  width: 100%;
  height: 100%;
}

#left-container,
#left-container-placeholder {
  width: 40%;
  height: 100%;
}

#left-container {
  position: fixed;
}

#image-container {
  position: relative;
  z-index: 2;

  height: 100%;
  width: 100%;
}

#background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(85%);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0.7vw;
  filter: brightness(0) invert(1);

  height: 3.5vw;
  width: 3.5vw;
}

#slogan-container {
  position: absolute;
  z-index: 3;

  bottom: 20px;

  width: 100%;

  display: flex;
  justify-content: center;

  color: white;
}

#right-container {
  background-color: #CDDD92;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
  height: 100%;
}

#registration-container {
  width: 80%;
  height: 100%;

  padding-top: 50px;
}

#main-title-container {
  width: 100%;
  height: fit-content;

  margin-bottom: 50px;
}

#form-container {
  width: 100%;
  height: 700px;
}

#title-container,
#subtitle-container {
  text-align: center;
}

#form-container form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

#boxes-container {
  width: 100%;
  height: 300px;
}

#submit-container {
  height: 300px;
}

#name-box,
#surname-box,
#email-box,
#password-box,
#password-confirmation-box,
#submit-box {
  height: 100px;
}

#name-box,
#surname-box,
#password-box,
#password-confirmation-box {
  display: inline-block;
  width: 49%;
}

#surname-box,
#password-confirmation-box {
  float: right;
}

#email-box, #submit-box {
  width: 100%;
}

#password-security-level-container {
  display: flex;

  width: 100%;
  height: 250px;
}

#submit-row {
  height: 50px;
}

#login-button {
  color: #398300;
  text-decoration: underline;
  cursor: pointer;
}

#submit-box {
  position: relative;
  z-index: 5;
}

#security-details-container {
  display: flex;
  flex-direction: column;

  width: 65%;
  height: fit-content;
}

#animation-container {
  width: 25%;
  height: 100%;
}

.detail p {
  display: flex;
  justify-content: left;
  align-items: center;
}

.detail span {
  float: left;
}

.incomplete-step {
  color: #FF0000;
}

.complete-step {
  color: #398300;
}

#sunflower-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 90%;
}

#dirt-container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 10%;
}

#sunflower {
  position: absolute;
  z-index: 1;

  transform: translateY(100%);

  width: 45px;
  height: 4%;

  transition: transform 1s ease;
  transform-origin: bottom center;
}

.dirt {
  position: relative;
  z-index: 2;

  height: 100%;
  width: 80px;
}

#left-dirt {
  background-color: rgb(114, 26, 26);
  border-radius: 25px 35px 0 0;

  transform: translateX(10px);
}

#right-dirt {
  background-color: #8a2d2d;
  border-radius: 35px 25px 0 0;

  transform: translateX(-10px);
}

@media screen and (max-width: 1200px) {
  #left-container,
  #left-container-placeholder {
    display: none;
  }

  #right-container {
    width: 100%;
  }

  #form-container {
    height: 800px;
  }

  #boxes-container {
    height: 500px;
  }

  #name-box,
  #surname-box,
  #password-box,
  #password-confirmation-box {
    width: 100%;
  }

  #surname-box,
  #password-confirmation-box {
    float: none;
  }
}
