body {
  overflow: hidden;
}

#main-container {
  display: flex;

  width: 100%;
  height: 100%;
}

#left-container {
  width: 40%;
  height: 100%;
}

#image-container {
  position: relative;
  z-index: 2;

  height: 100%;
  width: 100%;
}

#background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(85%);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;

  margin: 0.7vw;
  filter: brightness(0) invert(1);

  height: 3.5vw;
  width: 3.5vw;
}

#slogan-container {
  position: absolute;
  z-index: 3;

  bottom: 20px;

  width: 40%;

  display: flex;
  justify-content: center;

  color: white;
}

#right-container {
  background: #CDDD92;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
  height: 100%;
}

#registration-container {
  width: 80%;
  height: 95%;
}

#title-container,
#subtitle-container,
#form-container {
  width: 100%;
}

#title-container,
#subtitle-container {
  text-align: center;
}

#title-container {
  height: fit-content;
}

#subtitle-container {
  height: fit-content;

  margin-bottom: 20px;
}

#form-container {
  height: 85%;
}

#login-button {
  color: #398300;
  text-decoration: underline;
  cursor: pointer;
}

#form-container form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#name-box,
#surname-box,
#email-box,
#password-box,
#password-confirmation-box,
#submit-box {
  height: 120px;
}

#name-box,
#surname-box,
#password-box,
#password-confirmation-box {
  width: 48%;
}

#email-box, #submit-box {
  width: 100%;
}

#submit-box {
  position: relative;
  z-index: 5;
}

#submit-container {
  height: 50%;
}

#password-security-level-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 2%;

  padding: 0 5px;

  width: 100%;
  height: 80%;
}

#submit-row {
  height: 15%;
}

#security-details-container {
  display: flex;
  flex-direction: column;
  gap: 0.6vw;

  width: 70%;
  height: 100%;
}

#animation-container {
  width: 25%;
  height: 100%;
}

#details-title {
  font-size: 1vw;
}

.datail {
  display: flex;
}

.detail span, .detail p {
  font-size: 0.8vw;
}

.incomplete-step {
  color: #FF0000;
}

.complete-step {
  color: #398300;
}

#sunflower-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 90%;
}

.dirt-container {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 10%;
}

#sunflower {
  position: absolute;
  z-index: 1;

  transform: translateY(100%);

  width: 45px;
  height: 4%;

  transition: transform 1s ease;
  transform-origin: bottom center;
}

.dirt {
  position: relative;
  z-index: 2;

  height: 100%;
  width: 80px;
}

.left-dirt {
  background-color: rgb(114, 26, 26);
  border-radius: 25px 35px 0 0;

  transform: translateX(10px);
}

.right-dirt {
  background-color: #8a2d2d;
  border-radius: 35px 25px 0 0;

  transform: translateX(-10px);
}

@media screen and (max-width: 1200px) {
  #left-container {
    display: none;
  }

  #right-container {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
  }

  #name-box,
  #surname-box,
  #email-box,
  #password-box,
  #password-confirmation-box,
  #submit-box {
    width: 100%;
  }

  #name-box,
  #surname-box,
  #email-box,
  #password-box,
  #password-confirmation-box,
  #submit-box {
    height: 100px;
  }
}