body {
    background-color: var(--cultured);
}

#about-us-main-container {
    display: flex;
    justify-content: center;

    overflow-x: hidden;
    margin-bottom: 100px;
}

#about-us-decorations-container {
    position: absolute;

    width: 100%;
    height: fit-content;
    overflow: hidden ;
}

.dec-row {
    position: relative;

    width: 100%;
    height: 300px;
    overflow:  visible;

    display: flex;
    align-items: center;
}

.dec-row-left {
    justify-content: flex-start;
}

.dec-row-right {
    justify-content: flex-end;
}

.dec-row-left > .dec {
    left: -120px
}

.dec-row-right > .dec {
    right: -120px
}

.dec-row-long {
    height: 800px;
}

.dec {
    position: relative;
}

.dec-royal-green {
    background-color: var(--royal-green);
}

.dec-mughal-green {
    background-color: var(--mughal-green);
}

.dec-sap-green {
    background-color: var(--sap-green);
}

.dec-android-green {
    background-color: var(--android-green);
}

.dec-1 {
    width: 200px;
    height: 200px;
    border-radius: 30% 88% 31% 58%;
    transform: rotate(28deg);
}

.dec-2 {
    width: 250px;
    height: 250px;
    border-radius: 50% 70% 50% 30%;
    transform: rotate(-20deg);
}

.dec-3 {
    width: 200px;
    height: 400px;
    border-radius: 30% 50% 50% 70%;
    transform: rotate(10deg);
}

.dec-4 {
    width: 220px;
    height: 220px;
    border-radius: 40% 60% 70% 30%;
    transform: rotate(-40deg);
}

.dec-5 {
    width: 300px;
    height: 300px;
    border-radius: 60% 40% 30% 50%;
    transform: rotate(50deg);
}

.dec-6 {
    width: 150px;
    height: 150px;
    border-radius: 50% 30% 60% 40%;
    transform: rotate(-10deg);
}

#about-us-text-container {
    position: relative;
    width: 70%;

    padding-top: 100px;
}

#about-us-text-container p {
    margin: 10px;
}

.about-us-section-title-breakline {
    width: 100%;
    height: 1px;
    margin: 20px 0 20px 0;
    background: var(--mughal-green);
    background: linear-gradient(122deg, var(--dark-jungle-green) 26%, var(--royal-green) 55%, var(--android-green) 100%);
}
.about-us-image-container {
    width: 100%;
    height: 350px;

    overflow: hidden;
    border-radius: 10px;
}


.about-us-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about-us-logo-container {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 150px;
}

#about-us-logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
