@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oleo+Script:wght@400;700&display=swap');

body {
  background-color: var(--cultured);
}

#main-container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 90px 50px 50px 50px;
}

#welcome-container {
  position: relative;

  width: 80%;
  height: 350px;

  display: flex;
  align-items: center;

  overflow: hidden;

  border-radius: 25px;
}

#welcome-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  filter: brightness(70%);
}

#welcome-message-container {
  position: absolute;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: fit-content;
}

#slogan-container {;
  width: 80%;
  text-align: center;
}

#slogan {
  color: var(--pure-white);
  text-align: center;
}

#welcome-slogan {
  color: var(--pure-white);
  text-align: center;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 70px;
}

.animated-round-button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 3%;
  padding: 0 20px;
  transition: padding ease 0.3s;

  border-radius: 25px;
  cursor: pointer;
}
.animated-round-button a,
.animated-round-button span {
  color: white;

  transition: font-size ease 0.3s;
}

.animated-round-button a {
  display: flex;
  align-items: center;

  text-align: center;
  text-decoration: none;
}

.animated-round-button lord-icon {
  position: relative;
  width: 50px;
  height: 50px;

  transition: margin-right ease 0.3s;
}

.animated-round-button:hover {
  padding: 5px 25px;
}

.animated-round-button:hover a {
  font-size: calc(20px + 0.390625vw);
}

.animated-round-button:hover lord-icon {
  margin-right: 1vw;
}

#sign-up-button {
  background: var(--dark-jungle-green);
  box-shadow: inset 20px 20px 60px var(--licorice),
  inset -20px -20px 60px var(--phthalo-green);
}

#sign-in-button {
  background: var(--mughal-green);
  box-shadow: inset 20px 20px 60px var(--black-leather-jacket),
  inset -20px -20px 60px var(--japanese-laurel);
}

#main-container .section-title {
  margin-top: 30px;
}

@media screen and (max-width: 920px) {
  #main-container {
    padding: 90px 20px 50px 20px;
  }
}

@media screen and (max-width: 520px) {
  #slogan {
    display: none;
  }

  #login-container {
    flex-direction: column;
    gap: 40px;
  }
}