.material-button {
    align-items: center;
    appearance: none;
    background-color: var(--pure-white);
    border-radius: 50%;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: var(--arsenic);
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    height: fit-content;
    justify-content: center;
    max-width: 100%;
    overflow: visible;
    padding: 5px;
    position: relative;
    text-align: center;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    will-change: transform, opacity;
    z-index: 0;
}

.material-button:hover {
    background: var(--ghost-white);
    color: var(--sap-green);
}

.material-button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
}

.material-button:not(:disabled) {
    box-shadow: var(--transparent-arsenic-30) 0 1px 3px 0, var(--transparent-arsenic-15) 0 4px 8px 3px;
}

.material-button:not(:disabled):hover {
    box-shadow: var(--transparent-arsenic-30) 0 2px 3px 0, var(--transparent-arsenic-15) 0 6px 10px 4px;
}

.material-button:not(:disabled):focus {
    box-shadow: var(--transparent-arsenic-30) 0 1px 3px 0, var(--transparent-arsenic-15) 0 4px 8px 3px;
}

.material-button:not(:disabled):active {
    box-shadow: var(--transparent-arsenic-30) 0 4px 4px 0, var(--transparent-arsenic-15) 0 8px 12px 6px;
}

.material-button:disabled {
    box-shadow: var(--transparent-arsenic-30) 0 1px 3px 0, var(--transparent-arsenic-15) 0 4px 8px 3px;
}
