:root {
  --pure-black: #000000;

  --licorice: #0D1D0D;
  --dark-jungle-green: #132A13;
  --phthalo-green: #193719;
  --black-leather-jacket: #213B1E;
  --cal-poly-pomona-green :#264726;
  --royal-green: #1F6119;
  --mughal-green: #31572C;
  --sap-green: #4F772D;
  --japanese-laurel: #3C7135;
  --metallic-green: #398300;
  --moss-green: #90A955;
  --medium-spring-bud: #CDDD92;
  --android-green: #B6D83D;
  --pale-goldenrod: #ECF39E;
  --pale-spring-bud: #E7F3B8;

  --arsenic: #3C4043;
  --granite-gray: #62646A;
  --argent: #C1C2BF;
  --lavaneder-gray: #C5C6C9;
  --gainsboro: #DEDEE4;
  --platinum: #E6E6E6;
  --eggshell: #EFF0D8;
  --cultured: #F5F5F5;
  --ghost-white: #F6F9FE;
  --pure-white: #FFFFFF;

  --pure-red: #FF0000;
  --persioan-plum: #721A1A;
  --burnt-umber: #8A2D2D;

  --chinise-gold: #C8A804;
  --old-gold: #CDCA32;

  --dark-orange: #FF8C00;

  --transparent-black: rgba(0, 0, 0, 0.3);
  --transparent-arsenic-30: rgba(60, 64, 67, 0.3);
  --transparent-arsenic-15: rgba(60, 64, 67, 0.15);
}
