@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Oleo+Script:wght@400;700&display=swap');

.oleo-400 {
  font-family: "Oleo Script", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-300 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.rubik-400 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-500 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.rubik-600 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h1 {
  font-size: calc(50px + 0.390625vw);
}

h2 {
  font-size: calc(45px + 0.390625vw);
}

h3 {
  font-size: calc(40px + 0.390625vw);
}

h4 {
  font-size: calc(35px + 0.390625vw);
}

h5 {
  font-size: calc(30px + 0.390625vw);
}

h6 {
  font-size: calc(25px + 0.390625vw);
}

label, input, select {
  font-size: calc(18px + 0.390625vw);
}

p, a, span {
  font-size: calc(15px + 0.390625vw);
}

.md-18 {
  font-size: calc(25px + 0.390625vw);
}

.large-text {
  font-size: calc(20px + 0.390625vw);
}

.small-text {
  font-size: calc(10px + 0.390625vw);
}
