* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-icons {
  font-family: "Material Icons Outlined";
}

img {
  user-select: none;
}

.profile-picture {
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ui-block {
  border: 1px solid var(--gainsboro);
  padding: 10px;
}
