.toast {
    position: fixed;

    top: 20px;
    right: 20px;
    transition: top 0.5s ease;

    z-index: 10;

    width: fit-content;
    height: fit-content;

    background-color: var(--pure-white);
    display: flex;
    align-items: center;
    gap: 5px;

    padding: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid var(--dark-jungle-green);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    animation: fadeInOut 4s forwards;
}

.toast-success .material-icons-round {
    color: var(--metallic-green);
}

.toast-error .material-icons-round {
    color: var(--pure-red);
}

.toast-warning .material-icons-round {
    color: var(--dark-orange);
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
}
