.page {
  width: 100%;
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;

  background: var(--cal-poly-pomona-green);
  background: linear-gradient(122deg, var(--dark-jungle-green) 26%, var(--royal-green) 55%, var(--android-green) 100%);
}

.error-container {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 20px;

  color: var(--pure-white);
}

#logo-container {
  width: 100%;
  height: 100px;
}

#logo-container img {
  height: 100%;
  width: 100%;

  object-fit: contain;
}

.message-container {
  width: 100%;
  height: 400px;

  margin-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.question {
  color: var(--chinise-gold);
}

.message {
  padding: 10px;
}

.redirect-message .material-icons-round {
  vertical-align: bottom;
}

a {
  color: var(--chinise-gold);
  text-decoration: none;
}
