body {
    background-color: var(--cultured);
}

.main-page-content {
    display: flex;
    justify-content: space-between;

    min-height: 100%;
    padding: 110px 50px 50px 50px;;
}

#cart-products-container {
    width: 70%;
}

.product-container {
    width: 100%;
}

.product-quantity {
    position: absolute;
    top: 66px;
    left: 170px;
    margin-right: 10px;
}

.product-change-quantity-actions-container {
    position: absolute;
    left: 170px;
    bottom: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#cart-menu {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    height: fit-content;
}

#cart-summary-container,
#cart-actions-container {
    width: 100%;
}

#cart-summary-container {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--pure-white);
}

.summary-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

#go-to-checkout-button,
#empty-cart-button {
    gap: 10px;
    width: 100%;
    border-radius: 25px;
}

#go-to-checkout-button {
    background-color: var(--android-green);
}

#empty-cart-button {
    background-color: var(--dark-jungle-green);
    color: var(--pure-white);
}

@media screen and (max-width: 920px) {
    .main-page-content {
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 110px 20px 50px 20px;
    }

    #cart-menu {
        width: 100%;
    }

    #cart-products-container {
        width: 100%;
    }

    .product-container {
        margin-left: 0;
    }
}