body {
  background-color: var(--cultured);
}

.main-page-content {
  width: 100%;
  padding: 110px 50px 50px 50px;
}

.product-container .material-button:hover {
  color: var(--metallic-green);
}

#latest-products .product-container {
  min-width: 400px;
}

#all-products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 40px;

  width: 100%;
  height: fit-content;
}

#all-products-container .category-title {
  margin-left: 20px;
  margin-bottom: 10px;
}

.products-category-container {
  width: 100%;
  height: fit-content;
}

.category-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#loading-text-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

@media screen and (min-width: 1701px) {
  .main-page-content {
    padding: 100px 20px 50px 20px;
  }

  .product-container {
    width: 30%;
  }
}

@media screen and (max-width: 1700px) {
  .product-container {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .product-container {
    width: 100%;
  }
}
