body {
  background-color: var(--cultured);
}

.main-page-content {
  width: 100%;
  padding: 110px 50px 50px 50px;
}

.product-container {
  position: relative;

  display: flex;
  gap: 10px;

  width: 400px;
  min-width: 320px;
  height: 170px;

  margin: 10px;
  border-radius: 25px;
  padding: 10px;

  background-color: var(--pure-white);
}

.favorite-button {
  visibility: hidden;

  position: absolute;
  top: 10px;
  right: 10px;

  width: 40px;
  height: 40px;
}

.favorite-button .material-icons-round {
  position: relative;
  top: 1.5px;
}

.product-container:hover .favorite-button {
  visibility: visible;
}

.product-image-section {
  display: flex;
  align-items: center;
}

.product-image-container {
  width: 150px;
  height: 150px;

  overflow: hidden;
  border-radius: 15px;
}

.product-image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info-section {
  width: calc(100% - 170px);
  height: 100%;
}

.product-info {
  width: 100%;
  height: 70%;
}

.product-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 30%;
}

.cart-button {
  border-radius: 15px;
}

/*OK*/
#scrollable-container .material-button:hover,
/*NO <-*/
.product-container .material-button:hover {
  color: var(--metallic-green);
}

#latest-products .product-container {
  min-width: 400px;
}

/*OK*/
#scrollable-container {
  position: relative;

  width: 100%;
  height: fit-content;
}

/*OK*/
.scrollable-command-button {
  visibility: hidden;

  position: absolute;
  z-index: 1;

  top: 50%;
  transform: translateY(-50%);
}

/*OK*/
#scrollable-container #previous-button {
  left: -10px;
}

/*OK*/
#scrollable-container #next-button {
  right: -10px;
}

/*OK*/
#latest-products {
  position: relative;
  z-index: 0;

  display: flex;
  justify-content: center;
  width: 100%;

  padding: 0 30px;

  overflow-x: scroll;
}

#latest-products::-webkit-scrollbar {
  display: none;
}

#all-products-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 40px;

  width: 100%;
  height: fit-content;
}

#all-products-container .category-title {
  margin-left: 20px;
  margin-bottom: 10px;
}

.products-category-container {
  width: 100%;
  height: fit-content;
}

.category-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#loading-text-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

@media screen and (min-width: 1701px) {
  main-page-content {
    padding: 100px 20px 50px 20px;
  }

  .product-container {
    width: 30%;
  }
}

@media screen and (max-width: 1700px) {
  .product-container {
    width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .product-container {
    width: 100%;
  }
}
