.chat-button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2vw;

  border-radius: 50%;

  background: radial-gradient(circle, rgba(79,119,45,1) 10%, rgba(200,168,4,1) 70%);

  width: 4vw;
  height: 4vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-button-content {
  border-radius: 50%;

  background-color: #132A13;
  box-shadow: inset 20px 20px 60px #0d1d0d,
  inset -20px -20px 60px #193719;

  width: 3.8vw;
  height: 3.8vw;

  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-button lord-icon {
  width: 2.5vw;
  height: 2.5vw;
}
