#sidebar-opacity-layer {
  display: none;

  position: fixed;
  z-index: 11;

  width: 100%;
  height: 100%;

  background-color: var(--transparent-black);
}

#sidebar {
  position: fixed;
  z-index: 12;

  width: 0;
  transition: width ease 0.3s;

  height: 100%;

  background-color: var(--pure-white);
}

#sidebar .sidebar-separator {
  width: 100%;
  height: 1px;

  background-color: var(--platinum);
}

#sidebar-content {
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  padding: 10px;

  width: 100%;
  height: 100%;
}

#sidebar #account-details-container {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 5px;

  font-size: 12px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  color: var(--granite-gray);
}

#sidebar lord-icon,
#sidebar #account-details-container > .profile-picture {
  width: 60px;
  height: 60px;
}

#sidebar #account-details-container > #account-details {
  padding: 0 10px;
  width: 75%;
}

#sidebar .account-details-value {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sidebar #options-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

#sidebar .sidebar-option {
  padding: 5px;

  width: 100%;
  height: 40px;
}

#sidebar .sidebar-option a,
#sidebar .sidebar-option div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;

  height: 100%;

  color: var(--granite-gray);
  text-decoration: none;

  cursor: pointer;
}

#main-navbar {
  position: fixed;
  z-index: 10;

  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid var(--gainsboro);
  padding: 0 1%;

  background: var(--cal-poly-pomona-green);
  background: linear-gradient(122deg, var(--dark-jungle-green) 26%, var(--royal-green) 55%, var(--android-green) 100%);
}

#burger-menu-icon {
  display: none;

  margin-right: 5px;

  width: 30px;

  font-size: 36px;
  color: var(--pure-white);

  cursor: pointer;
}

#main-navbar #logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  padding: 5px 0;
}

#main-navbar #logo-container img {
  width: calc(100% - 30px);
  height: 100%;
  object-fit: contain;
}

#main-navbar #menu-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;

  height: 100%;
}

#main-navbar .menu-option {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 100%;
}

#main-navbar .menu-option-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-navbar .menu-option .material-icons-round {
  margin-right: 5px;
}

#main-navbar .menu-option a {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: var(--pure-white);
  text-decoration: none;
}

#main-navbar .menu-option .selection-underline {
  background-color: var(--pure-white);

  width: 30%;
  transition: width ease 0.3s;

  height: 1px;
}

#main-navbar .menu-option:hover .selection-underline {
  width: 100%;
}

#main-navbar #actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  height: 100%;
}

#main-navbar .action {
  position: relative;
  display: flex;
  cursor: pointer;
}

#search #search-icon {
  font-size: 30px;
}

#search-bar-container {
  position: fixed;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;

  margin-top: 65px;
  padding: 0 10%;
}

#search-bar-box {
  width: 0;
  transform: scaleX(0);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

#search-bar-container .input-box input {
  border: 2px solid var(--android-green);
}

#close-search-bar-icon {
  position: relative;
  float: right;

  opacity: 0;
  transition: opacity 0.1s ease-out;
}

#close-search-bar-icon > span {
  position: absolute;
  left: -35px;
  top: -20px;
}

#main-navbar #actions-container lord-icon,
#main-navbar #actions-container .profile-picture {
  width: 35px;
  height: 35px;
}

#main-navbar .action .notification {
  position: absolute;
  z-index: 11;
  top: -4px;
  right: -5px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--royal-green);
  width: 15px;
  height: 15px;

  border-radius: 50px;
}

#main-navbar .action .notification span {
  color: var(--pure-white);
  font-size: 13px;
}

@media screen and (max-width: 650px) {
  #burger-menu-icon {
    display: block;
  }

  #main-navbar #menu-container {
    display: none;
  }
}
