#main-navbar {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 3vw;

  display: flex;
  justify-content: space-between;

  padding: 0 1vw;

  background: rgb(19,42,19);
  background: linear-gradient(122deg, rgba(19,42,19,1) 26%, rgba(79,119,45,1) 55%, rgba(200,168,4,1) 100%);

  box-shadow: 0 0.5vw 4vw 0 rgba(19, 42, 19, 0.75);
}

#main-navbar #logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 15vw;
  height: 100%;

  padding: 0.3vw 0;
}

#main-navbar img {
  width: 65%;
  height: 100%;
  object-fit: cover;
}

#main-navbar #menu-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35vw;
  height: 100%;
}

#main-navbar .selection-underline {
  position: relative;
  background-color: white;

  width: 30%;
  transition: width ease 0.3s;

  height: 0.05vw;
  top: -0.5vw;
}

#main-navbar .menu-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 100%;

  margin-top: 0.5vw;
}

#main-navbar .menu-option .material-icons {
  margin-right: 0.3vw;
}

#main-navbar .menu-option a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 600px){
  #main-navbar .menu-option .material-icons {
    font-size: 1.8vw;
  }

  #main-navbar .menu-option a {
    font-size: 1.4vw;
  }
}

@media screen and (min-width: 601px) {
  #main-navbar .menu-option .material-icons {
    font-size: 1.4vw;
  }

  #main-navbar .menu-option a {
    font-size: 1.2vw;
  }
}

#main-navbar .menu-option:hover .selection-underline {
  width: 100%;
}

#main-navbar .menu-separator {
  background-color: white;
  width: 0.1vw;
  height: 70%;

  margin: 0 1vw;
}

#main-navbar #actions-container {
  width: 15vw;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#main-navbar #actions-container lord-icon {
  width: 2vw;
  height: 2vw;
}

#main-navbar .action {
  display: flex;
}

#main-navbar .action .notification {
  position: relative;
  z-index: 11;
  right: 0.6vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f6119;
  width: 0.9vw;
  height: 0.9vw;

  border-radius: 50px;
}

#main-navbar .action p {
  color: rgb(205, 202, 50);
  font-size: 0.8vw;
}
