#sidebar-opacity-layer {
  display: none;

  position: absolute;
  z-index: 11;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

#sidebar {
  position: absolute;
  z-index: 12;

  width: 0;
  transition: width ease 0.3s;

  height: 100%;

  background-color: rgba(19,42,19,1);
}

#sidebar-content {
  visibility: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  padding: 10px;

  width: 100%;
  height: 100%;
}

#sidebar #account-details-container {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 5px;

  color: white;
}

#sidebar #account-details-container>#profile-picture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

#sidebar #account-details-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#sidebar #account-details-container>#account-details {
  padding: 0 10px;
}

#sidebar #options-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;

  overflow-y: scroll;
}

#sidebar .sidebar-option {
  padding: 5px;

  width: 100%;
  height: 40px;
}

#sidebar .sidebar-option a {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 100%;

  color: white;
  text-decoration: none;
}

#main-navbar {
  position: fixed;
  z-index: 10;

  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;

  padding: 0 1%;

  background: rgb(19,42,19);
  background: linear-gradient(122deg, rgba(19,42,19,1) 26%, rgba(79,119,45,1) 55%, rgba(200,168,4,1) 100%);
  box-shadow: 0 5px 50px 0 rgba(19, 42, 19, 0.75);
}

#main-navbar #logo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  padding: 5px 0;
}

#burger-menu-icon {
  display: none;

  margin-right: 5px;

  font-size: 36px;
  color: white;

  cursor: pointer;
}

#main-navbar #logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#main-navbar #menu-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  height: 100%;
}

#main-navbar .menu-option {
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: 100%;
}

#main-navbar .menu-option-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-navbar .menu-option .material-icons {
  margin-right: 5px;
}

#main-navbar .menu-option a {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  color: white;
  text-decoration: none;
}

#main-navbar .menu-option .selection-underline {
  background-color: white;

  width: 30%;
  transition: width ease 0.3s;

  height: 1px;
}

#main-navbar .menu-option:hover .selection-underline {
  width: 100%;
}

#main-navbar #actions-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
}

#main-navbar .action {
  position: relative;
  display: flex;
}

#main-navbar #actions-container lord-icon {
  width: 35px;
  height: 35px;
}

#main-navbar .action .notification {
  position: absolute;
  z-index: 11;
  right: -4px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1f6119;
  width: 15px;
  height: 15px;

  border-radius: 50px;
}

#main-navbar .action .notification span {
  color: rgb(205, 202, 50);
  font-size: 13px;
}

@media screen and (max-width: 540px) {
  #burger-menu-icon {
    display: block;
  }

  #main-navbar #menu-container {
    display: none;
  }
}
